name: Build & Push Multi-Arch Docker Image to Docker Hub

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, arm64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set Dockerfile based on architecture
        run: |
          case "${{ matrix.arch }}" in
            amd64)
              echo "DOCKERFILE=Dockerfile.amd64" >> $GITHUB_ENV
              ;;
            arm64)
              echo "DOCKERFILE=Dockerfile.arm64v8" >> $GITHUB_ENV
              ;;
          esac

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.DOCKERFILE }}
          push: true
          tags: |
            kroeberd/new-easyepg:latest
            kroeberd/new-easyepg:${{ github.sha }}
